body {
    font-family: sans-serif;
    font-size: 110%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #90D8F4;
}

.content {
    background-color: #CAF0F8;
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;
    overflow: unset;
}

#profilePhoto {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 6px solid #90D8F4;
}

header {
    text-align: center;
    justify-content: center;
}

#heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
    background-color: #83C5BE;
    color: black;
}

h2 {
    font-size: 160%;
    color: orangered;
}

h3 {
    font-size: 130%;
    color: #0B132B;
}

footer {
    background-color: #83C5BE;
    text-align: center;
    color: orangered;
}

#sidebar {
    width: 20%;
    background-color: #90D8F4;
    padding: 2rem;
    color: orangered;
}

.navMenu {
    list-style-type: none;
    padding: 0%;
}

.icon {
    width: 3rem;
    margin: 1rem;
    height: auto;
}